:root {
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 14px;
	--color-text: hsl(300deg 33% 99%);
	--color-bg: hsl(120deg 3% 8%);
	--color-link: hsl(157deg 53% 61%);
	--color-link-hover: hsl(300deg 33% 99%);
	--title-gr-1: hsl(240deg 33% 99%);
	--title-gr-2: hsl(263deg 38% 53%);
	--color-desc: #999;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: -.05rem;
  cursor: none;
}


a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

html, body {
  background-color: #161616;
  overscroll-behavior: none  ;
}


.website-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2FYJIGb4i01jvw0SRdL5Bt%2F8997f779f33b430bb22ca667d1b73ade");
  background-size: 30px;
}

.inner-cursor {
	position: fixed;
	left: 10px;
	width: 10px;
	height: 10px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	z-index: 1;
}

.inner-cursor.grow {
	width: 25px;
	height: 25px;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.outer-cursor {
	position: fixed;
	left: 10px;
	width: 25px;
	height: 25px;
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	-webkit-transition: 0.10s;
	transition: 0.10s;
	z-index: 1;
}

.pre-loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  color: #e5e3dc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.pre-loader-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pre-loader-container .header {
  position: relative;
  width: max-content;
  margin: 0 auto;
}


.header h1 {
  position: relative;
  top: 120px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roslindale Display Condensed";
  font-weight: 500;
  font-size: 4.5vw;
  line-height: 100%;
  color: #0a0a0a;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  width: max-content;
}

.pre-loader-header .header:nth-child(n+2){
  margin-top: 1.2rem;
}

.header h1 span {
  margin-left: 1.38rem;
}

.header h1::before {
  content: attr(data-text);
  position: absolute;
  color: #e5e3dc;
  overflow: hidden;
  width: 0%;
  -webkit-transition: 1s;
  transition: 1s;
  animation: fill 2s cubic-bezier(0.6, 0, 0.4, 1) forwards;
  animation-delay: 1s;
}

@keyframes fill {
  0%{
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.header-wrapper::after {
  content: "";
  position: absolute;
  top: 120px;
  left: -10%;
  width: 122%;
  height: 110%;
  background: #0a0a0a;
  margin: 0 auto;
}

.pre-loader-btn {
  position: relative;
  margin: 3rem 0 1rem 0;
  font-family: "Neue Montreal";
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  text-align: center;
}

.pre-loader-btn svg {
  position: relative;
  width: 80px;
  top: 0;
  padding: 0 0.4rem;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  -webkit-transition: filter 300ms;
  transition: filter 300ms;
}



main {
	position: relative;
	display: grid;
	grid-template-areas: 'main';
	width: 100%;
	height: 100vh;
  --title-gr-2: hsl(177deg 68% 51%);	
}

.mainOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.oh {
	position: relative;
	overflow: hidden;
}

.oh__inner {
	will-change: transform;
	display: inline-block;
}

.frame {
	grid-area: main;
	z-index: 1000;
	position: relative;
	width: 100%;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 'title' 'prev' 'sponsor' 'demos';
	grid-gap: 0.5rem;
	justify-items: start;
	align-self: end;
	justify-self: start;
	pointer-events: none;
	-webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;

}

body #cdawrap {
    justify-self: start;
}

.frame a {
	pointer-events: auto;
}

.frame__title {
	grid-area: title;
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
}

.frame__title-main {
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
	opacity: 0;
}

.frame__title-back {
	position: relative;
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.15rem;
}

.frame__title-back span {
	display: none;
}

.frame__title-back svg {
	fill: currentColor;
}

.frame__prev {
	grid-area: prev;
}

.frame__demos {
	grid-area: demos;
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
	gap: 1rem;
	opacity: 0;
	cursor: pointer;
}

.portfolio_link {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
	gap: .5rem;
	position: relative;
}

.portfolio_link:hover > span > span,
.portfolio_link:focus > span > span {
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
  transform: translateY(-200%);
  text-transform: uppercase;
  color: #fff;
}

.portfolio_link > span {
	position: relative;
	overflow: hidden;
	display: block;
	pointer-events: none;
  }

  .portfolio_link > span > span {
	display: inline-block;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
  }

  .portfolio_link > span > span > span {
	content: attr(data-text);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);

  }

.sound__text {
	cursor: pointer;
}

.intro-grid-wrap {
	grid-area: main;
	height: 100vh;
}

.intro-grid {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 100%;
	gap: 2vw;
	padding: 2vw 2vw 4rem;
}

.intro-grid--labels {
	padding-top: 0.75rem;
	grid-template-rows: auto;
	align-self: start;
	padding-bottom: 0;
}

.pos-8 {
	grid-area: 2 / 10;
}

.intro-grid--images {
	padding-top: 3rem;
	height: 100vh;
}

.intro-grid--slider {
	--slider-item-height: 60vh;
	--slider-item-gap: 7vh;
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
	height: calc(var(--slider-item-height) + var(--slider-item-gap)); /* item height plus gap  */
	gap: 7vh;
    padding: 0;
    align-self: center;
}

.intro-grid--images.intro-grid--thumbs {
	padding-top: 1.85rem;
	padding-bottom: 0;
	grid-template-columns: repeat(20,1fr);
	grid-template-rows: auto 5vh 1fr 10vh;
	column-gap: 1.5vw;
	
}

.intro-grid--thumbs .intro-grid__img {
	grid-area: auto;
	aspect-ratio: 0.75;
	cursor: not-allowed;
 
}


.intro-grid--thumbs .intro-grid__img--current {
	grid-area: 3 / 1 / 4 / -1;
	justify-self: center;
	pointer-events: none;
}

.intro-grid--slider .intro-grid__label {
	position: absolute;
}


.intro-grid__img {
	background-size: cover;
	background-position: 50% 20%;
	cursor: pointer;
	will-change: transform, filter;
	-webkit-transform: translateZ(0.1px);
	-ms-transform: translateZ(0.1px);
	transform: translateZ(0.1px);
}

.intro-grid--slider .intro-grid__img {
	height: var(--slider-item-height);
	aspect-ratio: 0.75;
	flex: none;
}

.intro-grid--scatter {
	width: 200%;
	height: 200vh;
	padding: 0;
}

.intro-grid--scatter .intro-grid__img {
	max-width: 20vw;
	max-height: 50vh;
}

.intro-grid--scatter .intro-grid__img--current {
	width: 30vw;
	height: 70vh;
	max-width: none;
	max-height: none;
}

.intro-title {
	grid-area: main;
	align-self: center;
	justify-self: center;
	text-align: center;
	cursor: default;
	pointer-events: none;
}

.intro-title__main,
.slider-title__main {
	margin: 0;
	font-size: clamp(1rem, 7vw, 10rem);
	font-family: organetto-variable, sans-serif;
	font-variation-settings: "wdth" 100, "wght" 400;
}



.intro-title__sub {
	font-family: microgramma-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: clamp(1rem, 4vw, 2rem);
	display: block;
}

.slider-title {
	opacity: 0;
	pointer-events: none;
	grid-area: main;
	align-self: center;
	justify-self: center;
	position: relative;
}

.slider-title__main {
	font-size: clamp(1rem, 6vw, 9rem);
}

.slider-title__desc {
	left: 10vw;
	position: absolute;
	margin: 0;
	/* color: var(--color-desc); */
	mix-blend-mode: difference;
	max-width: 200px;
}

.controls {
	position: absolute;
	padding: 2rem;
	top: 0;
	right: 0;
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	color: var(--color-link);
	gap: 1rem;
	pointer-events: none;
	z-index: 100;
}

.controls--open {
	pointer-events: auto;
}

.controls button {
	text-transform: uppercase;
	color: var(--color-link);
}

.close {
	border: 1px solid var(--color-link);
	width: 3rem;
	height: 3rem;
	display: grid;
	place-items: center;
	border-radius: 50%;
	opacity: 0;
}

.nav {
	padding: 0 1.5rem;
	border: 1px solid var(--color-link);
	-webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
	gap: 1rem;
	border-radius: 2rem;
	opacity: 0;
	display: none;
}

.nav__item {
	cursor: not-allowed;
}

@media screen and (min-width: 53rem) {
	.frame {
		position: fixed;
		height: 100vh;
		grid-template-columns: auto auto auto 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: '... ... ... ...' 'title prev sponsor demos';
		align-content: space-between;
		justify-items: start;
		grid-gap: 2rem;
		padding: 0.75rem;
	}
	.frame__demos {
		justify-self: end;
	}
	.intro-grid {
		grid-template-columns: repeat(10,1fr);
	}
	.intro-grid--labels {
		display: grid;
	}
	.intro-grid--images {
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
	.intro-grid__img {
		background-position: 50% 50%;
	}
	.pos-1 { grid-area: 1 / 1; }
	.pos-2 { grid-area: 1 / 2; }
	.pos-3 { grid-area: 1 / 4; }
	.pos-4 { grid-area: 1 / 5; }
	.pos-5 { grid-area: 1 / 6; }
	.pos-6 { grid-area: 1 / 7; }
	.pos-7 { grid-area: 1 / 9; }
	.pos-8 { grid-area: 1 / 11;}
	.pos-9 { grid-area: 1 / 7; }
	.pos-10 { grid-area: 4 / 9; }
	.pos-11 { grid-area: 1 / 1; }
	.pos-12 { grid-area: 2 / 2; }
	.pos-13 { grid-area: 3 / 1; }
	.pos-14 { grid-area: 3 / 4; }
	.pos-15 { grid-area: 4 / 4; }
	.pos-16 { grid-area: 1 / 5; }
	.pos-17 { grid-area: 2 / 5; }
	.pos-18 { grid-area: 4 / 5; }
	.pos-19 { grid-area: 3 / 6; }
	.pos-20 { grid-area: 2 / 9; }
	.pos-21 { grid-area: 2 / 10; }
	.pos-22 { grid-area: 3 / 10; }
	.nav {
		display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
		display: flex;
	}
}



